.box {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.box:last-child {
  margin-right: 0;
}

.boxes {
  display: flex;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top {
  background-color: steelblue;
  text-align: center;
  padding: 20px;
}

.top div:nth-child(2) {
  font-size: 3em;
}

.bottom {
  flex-grow: 1;
  background-color: #232323;
  display: flex;
  flex-direction: column;
}

.game-center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
